name: Terraform Deploy

on:
  workflow_dispatch:
  push:
    paths:
      - "infra/terraform/**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: infra/terraform
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: |
          terraform init

      - name: Terraform Plan
        working-directory: infra/terraform
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: |
          terraform plan -var="gcp_credentials=${{ secrets.GCP_CREDENTIALS }}"

      - name: Terraform Apply
        working-directory: infra/terraform
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: |
          terraform apply -auto-approve -var="gcp_credentials=${{ secrets.GCP_CREDENTIALS }}"

